.div1{
	text-align: center;
}

.Title{
	background-color:#AA8B56;
	color: #EDE6DB;
	text-shadow: black 2px 2px 2px ;
}

.img1{
	border-style:  solid;
	border-color: #393E46;
	border-width: 10px;
}

.div2{
	background-color: #6D9886;
	padding: 5px 5px 5px ;
	margin: auto;
	border-style:  solid;
	border-color: #4E6C50;
	border-width: 10px;
}

.Nubian{
	text-align: left;
	background-color:#395144; 
	color:#F0EBCE;
	text-shadow: #AA8B56 2px 2px 2px ;
}

.div3{
	background-color: #6D9886;
	padding: 5px 5px 5px ;
	margin: auto;
	border-style:  solid;
	border-color: #AA8B56;
	border-width: 10px;
}
.NDG{
	text-align: left;
	background-color:#395144; 
	color:#F0EBCE;
	text-shadow: #AA8B56 2px 2px 2px ;
}

.div4{
	background-color: #6D9886;
	padding: 5px 5px 5px ;
	margin: auto;
	border-style:  solid;
	border-color: #4E6C50;
	border-width: 10px;
}

.Kiko{
	text-align: left;
	background-color:#395144; 
	color:#F0EBCE;
	text-shadow: #AA8B56 2px 2px 2px ;
}

.div5{
	background-color: #6D9886;
	padding: 5px 5px 5px ;
	margin: auto;
	border-style:  solid;
	border-color: #AA8B56;
	border-width: 10px;
}

.Alpine{
	text-align: left;
	background-color:#395144; 
	color:#F0EBCE;
	text-shadow: #AA8B56 2px 2px 2px ;
}